// Media Queries
$mq__page-step-1: 1920px;
$mq__page-step-2: 1680px;
$mq__page-step-3: 1600px;
$mq__page-step-4: 1440px;
$mq__laptop: 1300px;
$mq__tablet: 1024px;
$mq__mobile: 768px;
$mq__mobile-nav: 1020px;
$mq_xs: 424px;
$mq_xxs: 374px;
